//http://localhost/monstersandsprites-local/ WAMP
//resets

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
    display: block;
}

//import

//import fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

//font variables
$font-normal: 'Roboto', sans-serif;

//variables
$accent-color: #FF5252;

//mixins

//styling

html
{
    min-height: 100%;
    position: relative;
}

body
{
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    margin: auto;
    overflow-x: hidden;
    font-family: $font-normal;
    z-index: 1;
    background-color: #BBDEFB;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 100vw 50vh;
}

////////////////////////////////////////////////////////////HEADER/////////////////////////////////////////////////////////////

.header-invisible
{
    width: 100vw;
    height: 5vh;
    margin: auto;
    position: relative;
    top: 0;
}

.header
{
    width: 100vw;
    height: 5vh;
    margin: auto;
    background-color: #2196F3;
    position: fixed;
    z-index: 100;
    box-shadow: 0 1px 6px rgba(0,0,0,0.5);
}

.header-title
{
    width: auto;
    height: 5vh;
    color: white;
    float: left;
    font-size: 4vh;
    margin-left: 1vh;
}

.menu-desktop
{
    display: block;
    width: auto;
    height: 5vh;
    float: right;
    font-family: $font-normal;
    font-size: 2vh;
}

.menu-desktop li
{
    display: block;
    float: right;
    padding: 12px;
    margin-right: 2.5vw;
    height: auto;
}

.menu-desktop li a
{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.mobile-menu
{
    display: none;
    width: 20vw;
    height: 5vh;
    float: right;
}

/* Dropdown Button */
.dropbtn 
{
    height: 5vh;
    width: 20vw;
    border: none;
    cursor: pointer;
    background-image: url(../images/icon_heart_32_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus 
{
    background-color: darkgrey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 33.3vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a 
{
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightgrey}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

////////////////////////////////////////////////////////////SIDEBAR /////////////////////////////////////////////////////////////

.sidebar-container
{
    display: block;
    z-index: 1;
    width: 15vw;
    height: 100%;
    margin: auto;
    text-align: left;
    background-color: whitesmoke;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    bottom:0;
    left: -85vw;
    right:0;
    overflow:hidden;
}

.sidebar-container h4
{
    font-size: 4vh;
    margin-left: 1vw;
}

.sidebar-about
{
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 10vh;
    //background-color: bisque;
    border-radius: 5px;
    //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sidebar-about p
{
    font-size: 2vh;
    margin-left: 1vw;
}

.sidebar-archive
{
    margin: auto;
    margin-top: 2.5vh;
    width: 90%;
    height: auto;
    //background-color: bisque;
    border-radius: 5px;
    //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.list-unstyled
{
    list-style-type: none;
    margin-left: 1vw;
}

////////////////////////////////////////////////////////////CONTENT DESKTOP/////////////////////////////////////////////////////////////

.content-container
{
    position: relative;
    width: 70vw;
    height: auto;
    margin: 0 auto;  
    margin-left: 22.5vw;
    margin-top: 5vh;
}

.content-desktop
{
    background-color: whitesmoke;
    margin-bottom: 5vh;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.content-desktop-single
{
    @extend .content-desktop;
    width: 70vw;
    height: auto;
    margin: auto;
}

.content-post-desktop p
{
    font-size: 2vh;
    text-align: left;
    line-height: 3vh;
    font-weight: 300;
}

.content-post-desktop-imagecontainer
{
    width: 1024px;
    height: 512px;
    margin: 0 auto;
    position: relative;
}

.content-post-desktop-imagecontainer img
{
    width: inherit;
    height: inherit;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out; 
    transition: opacity 1s ease-in-out;
}

.content-post-desktop-imagecontainer img.top-image:hover
{
    opacity: 0;
}

////////////////////////////////////////////////////////////CONTENT POST/////////////////////////////////////////////////////////////

.blog-post
{
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: left;
}

.blog-post p
{
    font-size: 2vh;
    text-align: left;
    margin-top: 2.5vh;
    line-height: 2.5vh;
}

.blog-post a
{
    text-decoration: none;
}

.blog-post-title
{
    width: 50%;
    height: auto;
    font-size: 4vh;
    font-weight: 400;
    color: yellow;
}

.blog-post-meta
{
    width: 50%;
    height: auto;
    font-size: 2vh;
    color: blue;
    float: left;
    position: relative;
    text-align: left;
    margin-bottom: 2.5vh;
}

.blog-comments
{
    float: right;
    width: 50%;
    font-size: 2vh;
    color: blue;
    position: relative;
    text-align: right;
    margin-bottom: 2.5vh;
}

.blog-thumbnail
{
    width: 100%;
    height: 33.3vh;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 2.5vh;
    display: block;
}

.blog-thumbnail img
{
    display: block;
    width: 100%;
    height: auto;
}

////////////////////////////////////////////////////////////COMMENTS /////////////////////////////////////////////////////////////////

.container-comments
{
    width: 70vw;
    height: auto;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

#comments.comments-area
{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 2vw;
}

#reply-title.comment-reply-title
{
    font-size: 3vh;
}

.comment-author.vcard
{
    float: left;
}

.comment-author.vcard img.photo
{
    float: left;
}

.comment-author.vcard img.avatar
{
    float: left;
}

.comment-list .vcard cite.fn
{
    font-weight: bold;
    margin-left: 1vw;
}

.comment-meta.commentmetadata a
{
    font-size: 1.5vh;
    text-decoration: none;
    float: right;
    color: black;
}

.comment-meta.commentmetadata .comment-edit-link
{
    font-weight: bold;
}

.comment-body
{
    padding: 1vw;
}

.comment-body p
{
    clear: both;
    color: black;
    padding: 1vw;
    line-height: 3vh;
}

.comment-body a.comment-reply-link
{
    color: black;
    font-weight: bold;
}

textarea
{
    margin: auto;
    width: 100%;
    border-width: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

textarea#comment
{
    width: 50%;
}

#commentform.comment-form label
{
    display: none;
}

.form-submit #submit.submit
{
    height: 3vh;
    width: 10vw;
}

.comment-list
{
    list-style-type: none;
    font-size: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.comments-title
{
    @extend .blog-post-title;
    width: 100%;
    color: black;
}

.comment-list li
{
    list-style-type: none;
}

.comment-list p
{

}

.comment-list li ul 
{

}

.comment-list li ul.children li
{
    
}

.comment-list li ul.children li.alt 
{
    
}

.comment-list li ul.children li.byuser
{
    
}

.comment-list li.byuser
{
    
}

.comment-list li ul.children li.comment
{
    
}

.comment-list li ul.children li.bypostauthor
{
    
}

.comment-list li ul.children li.comment-author-admin
{
    
}

.comment-list .even
{
    background-color: gainsboro;
}

.comment-list .odd
{
    background-color: grey;
}

.comment-respond .comment-form .logged-in-as a
{
    font-weight: bold;
    color: black;
}

.form-submit #submit.submit
{
    background-color: blue;
    border-width: 0px;
    font-weight: bold;
}

.form-submit #submit.submit:hover
{
    background-color: yellow;
}

////////////////////////////////////////////////////////////PORTFOLIO /////////////////////////////////////////////////////////////////

.content-portfolio-container
{
    width: 60vw;
    height: auto;
    margin: auto;
}

.blog-square
{
    width: 25vw;
    height: 25vw;
    margin: auto;
}

////////////////////////////////////////////////////////////PAGER /////////////////////////////////////////////////////////////////

.pager
{
    width: 70vw;
    height: auto;
    margin: auto;
    color: black;
    text-align: center;
}

.pager a 
{
    font-size: 2vh;
    border-radius: 25px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 1vw;
}

.pager span
{
    border-radius: 25px;
    text-decoration: none;
    list-style-type: none;
    padding: 1vw;
    font-size: 3vh;
    color: red;
}

////////////////////////////////////////////////////////////FOOTER //////////////////////////////////////////////////////////////////

.footer-container
{
    position: relative;
    width: 85vw;
    height: 5vh;
    margin: auto;
    margin-left: 14.5vw;
    margin-top: 5vh;
    background-color: bisque;
    clear: both;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.footer-content
{
    width: 30%;
    height: 100%;
    margin: auto;
}

.footer-content-social
{
    height: 100%;
    width: 33.3%;
    float: left;
    margin: auto;
}

////////////////////////////////////////////////////////////MEDIA QUERIES/////////////////////////////////////////////////////////////

@media screen and (max-width: 1024px) 
{
    .menu-desktop
    {
        display: none;
    }
    
    .menu-desktop li
    {
        display: none;
    }
     
    .mobile-menu
    {
        display: block;
    }
    
    .mobile-menu-button
    {
        display: block;
    }
    
    .content-container
    {
        width: 100vw;
        margin-left: 0;
    }
    
    .content-desktop
    {
        width: 100vw;
    }
    
    .content-post-desktop h1
    {
        font-size: 5vh;
    }
    
    .content-post-desktop p
    {
        font-size: 3vh;
        line-height: 4vh;
    }
    
    .content-post-desktop-imagecontainer
    {
        width: 100%;
        height: 33vh;
    }
    
    .footer-container
    {
        width: 100vw;
    }
    
    .sidebar-container
    {
        display: none;
    }

}