//resets

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
    display: block;
}

//import

//import fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

//font variables
$font-normal: 'Roboto', sans-serif;

//variables

//mixins

//styling

body
{
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow-x: hidden;
    font-family: $font-normal;
    z-index: 1;
}

////////////////////////////////////////////////////////////HEADER/////////////////////////////////////////////////////////////

.header-invisible
{
    width: 100vw;
    height: 5vh;
    margin: auto;
    position: relative;
    top: 0;
}

.header
{
    width: 100vw;
    height: 5vh;
    margin: auto;
    background-color: black;
    position: fixed;
    z-index: 100;
}

.header-title
{
    width: auto;
    height: 5vh;
    color: white;
    float: left;
    font-size: 4vh;
    margin-left: 1vh;
}

.menu-desktop
{
    display: block;
    width: auto;
    height: 5vh;
    float: right;
    font-family: $font-normal;
    font-size: 2vh;
}

.menu-desktop li
{
    display: block;
    float: right;
    padding: 12px;
    margin-right: 2.5vw;
    height: auto;
}

.menu-desktop li a
{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.mobile-menu
{
    display: none;
    width: 20vw;
    height: 5vh;
    float: right;
}

/* Dropdown Button */
.dropbtn 
{
    height: 5vh;
    width: 20vw;
    border: none;
    cursor: pointer;
    background-image: url(../images/icon_heart_32_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus 
{
    background-color: darkgrey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 33.3vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a 
{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightgrey}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

////////////////////////////////////////////////////////////CONTENT DESKTOP/////////////////////////////////////////////////////////////

.content-desktop
{
    position: relative;
    width: 70vw;
    height: auto;
    margin: 0 auto;
    background-color: antiquewhite;
}

.content-post-desktop
{
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    border-bottom: 1px solid black;
}

.content-post-desktop h1
{
    font-size: 4vh;
    text-align: left;
    font-weight: 400;
    margin-bottom: 1vh;
}

.content-post-desktop p
{
    font-size: 2vh;
    text-align: left;
    line-height: 3vh;
    font-weight: 300;
}

.content-post-desktop-imagecontainer
{
    width: 1024px;
    height: 512px;
    margin: 0 auto;
    position: relative;
}

.content-post-desktop-imagecontainer img
{
    width: inherit;
    height: inherit;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out; 
    transition: opacity 1s ease-in-out;
}

.content-post-desktop-imagecontainer img.top-image:hover
{
    opacity: 0;
}

/*.content-post-desktop img
{
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: absolute;
}*/

////////////////////////////////////////////////////////////MEDIA QUERIES/////////////////////////////////////////////////////////////

@media screen and (max-width: 768px) 
{
    .menu-desktop
    {
        display: none;
    }
    
    .menu-desktop li
    {
        display: none;
    }
     
    .mobile-menu
    {
        display: block;
    }
    
    .mobile-menu-button
    {
        display: block;
    }
    
    .content-desktop
    {
        width: 100vw;
    }
    
    .content-post-desktop h1
    {
        font-size: 5vh;
    }
    
    .content-post-desktop p
    {
        font-size: 3vh;
        line-height: 4vh;
    }
    
    .content-post-desktop-imagecontainer
    {
        width: 100%;
        height: 33vh;
    }

}