@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/* line 15, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* blue + orange
$dark-primary-color: #303F9F;
$primary-color: #3F51B5;
$light-primary-color: #C5CAE9;
$text-icons-color: #FFFFFF;
$accent-color: #FF5722;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
*/
/* line 68, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
html {
  min-height: 100%;
  height: 100%;
  position: relative; }

/* line 75, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: auto;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  z-index: 1;
  background-color: #FFC107; }

/* line 89, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.header-invisible {
  width: 100vw;
  height: 5vh;
  margin: auto;
  margin-bottom: 5vh;
  position: relative;
  top: 0; }

/* line 99, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.header {
  width: 100vw;
  height: 5vh;
  margin: auto;
  background-color: #FFA000;
  position: fixed;
  z-index: 100;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5); }

/* line 110, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.header-title {
  width: auto;
  height: 5vh;
  float: left;
  font-size: 4vh;
  margin-left: 1vh; }

/* line 119, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.header-title a {
  text-decoration: none;
  color: #FFFFFF; }

/* line 125, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.menu-desktop {
  display: block;
  width: auto;
  height: 5vh;
  float: right;
  font-family: "Roboto", sans-serif;
  font-size: 2vh; }

/* line 135, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.menu-desktop li {
  display: block;
  float: right;
  padding-top: 1.29vh;
  padding-bottom: 1.29vh;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  margin-right: 2.5vw;
  height: auto;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

/* line 150, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.menu-desktop li:hover {
  background-color: #4CAF50; }

/* line 155, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.menu-desktop li a {
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF; }

/* line 162, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.mobile-menu {
  display: none;
  width: 20vw;
  height: 5vh;
  float: right; }

/* Dropdown Button */
/* line 171, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.dropbtn {
  height: 5vh;
  width: 20vw;
  border: none;
  cursor: pointer;
  background-image: url(../images/icon_heart_32_white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFA000; }

/* Dropdown button on hover & focus */
/* line 184, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.dropbtn:hover, .dropbtn:focus {
  background-color: #4CAF50; }

/* The container <div> - needed to position the dropdown content */
/* line 190, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
/* line 197, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFA000;
  min-width: 33.3vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  list-style-type: none; }

/* Links inside the dropdown */
/* line 209, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.dropdown-content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
/* line 218, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.dropdown-content a:hover {
  background-color: #4CAF50; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/* line 224, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.show {
  display: block; }

/* line 226, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.site-container {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative; }

/* line 236, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.sidebar-container {
  display: block;
  z-index: 1;
  width: 15vw;
  height: 100%;
  margin: auto;
  text-align: left;
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -85vw;
  right: 0;
  overflow: hidden; }

/* line 254, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.sidebar-container h4 {
  font-size: 4vh;
  margin-left: 1vw; }

/* line 260, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.sidebar-about {
  height: auto;
  width: 90%;
  margin: auto;
  margin-top: 10vh;
  border-radius: 5px; }

/* line 271, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.sidebar-about p {
  font-size: 2vh;
  margin-left: 1vw; }

/* line 277, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.sidebar-archive {
  margin: auto;
  margin-top: 2.5vh;
  width: 90%;
  height: auto;
  border-radius: 5px; }

/* line 286, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.list-unstyled {
  list-style-type: none;
  margin-left: 1vw; }

/* line 294, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.content-container {
  position: relative;
  width: 70vw;
  height: auto;
  margin: 0 auto;
  margin-top: 5vh; }

/* line 303, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.content-desktop, .content-desktop-single {
  margin: auto;
  background-color: #FFFFFF;
  margin-bottom: 5vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  width: 70vw;
  height: auto; }

/* line 313, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.content-desktop-single {
  width: 70vw;
  height: auto;
  margin: auto; }

/* line 321, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.content-post-desktop p {
  font-size: 2vh;
  line-height: 3vh;
  font-weight: 300; }

/* line 330, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post {
  width: 80%;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh; }

/* line 340, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post p {
  font-size: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  line-height: 3vh; }

/* line 348, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post a {
  text-decoration: none; }

/* line 353, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-title, .comments-title {
  width: 100%;
  height: auto;
  font-size: 4vh;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2vh; }

/* line 363, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-title a, .comments-title a {
  text-decoration: none;
  color: #212121; }

/* line 369, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-meta-container {
  width: 100%;
  height: 2.5vh;
  margin: auto;
  border-bottom: solid 1px #BDBDBD; }

/* line 377, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-meta {
  width: 50%;
  height: auto;
  font-size: 2vh;
  color: #212121;
  float: left;
  position: relative;
  text-align: left;
  margin-bottom: 2.5vh;
  text-decoration: none; }

/* line 390, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-meta a {
  color: #212121;
  text-decoration: none; }

/* line 396, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-meta-info {
  margin-right: 1vw;
  width: auto;
  float: left; }

/* line 403, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-comments {
  float: right;
  width: 50%;
  font-size: 2vh;
  color: #212121;
  position: relative;
  text-align: right;
  margin-bottom: 2.5vh; }

/* line 414, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-comments a {
  color: #212121;
  text-decoration: none; }

/* line 420, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-thumbnail {
  width: 100%;
  height: 33.3vh;
  overflow: hidden;
  margin: 0 auto;
  display: block; }

/* line 429, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-thumbnail img {
  display: block;
  width: 100%;
  height: auto; }

/* line 436, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post > p img {
  display: block;
  margin: 1vw; }

/* line 442, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.alignright {
  float: right; }

/* line 447, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.alignleft {
  float: left; }

/* line 454, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.container-comments {
  width: 70vw;
  height: auto;
  margin: auto;
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2); }

/* line 463, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
#comments.comments-area {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 2vw; }

/* line 473, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
#reply-title.comment-reply-title {
  font-size: 3vh;
  margin-bottom: 0.5vh;
  font-weight: bold; }

/* line 480, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-author.vcard {
  float: left; }

/* line 486, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-author.vcard img.photo {
  float: left;
  border: 4px solid #FFA000; }

/* line 492, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-author.vcard img.avatar {
  float: left; }

/* line 497, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-list .vcard cite.fn {
  margin-left: 1vw;
  font-weight: bold; }

/* line 503, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-meta.commentmetadata a {
  font-size: 1.5vh;
  text-decoration: none;
  float: right;
  color: #212121; }

/* line 511, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-meta.commentmetadata .comment-edit-link {
  font-weight: bold; }

/* line 516, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-body {
  padding: 1vw; }

/* line 521, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-body p {
  clear: both;
  color: #212121;
  padding: 1vw;
  line-height: 3vh; }

/* line 529, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-body a.comment-reply-link {
  color: #212121;
  font-weight: bold; }

/* line 535, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
textarea {
  margin: auto;
  width: 100%;
  border-width: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh; }

/* line 544, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
textarea#comment {
  width: 50%;
  border-color: #BDBDBD;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

/* line 553, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
textarea#comment:focus {
  border-color: #4CAF50; }

/* line 558, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
#commentform.comment-form label {
  display: none; }

/* line 563, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.form-submit #submit.submit {
  height: 3vh;
  width: 10vw; }

/* line 569, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-list {
  list-style-type: none;
  font-size: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh; }

/* line 577, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comments-title {
  width: 100%;
  color: #212121; }

/* line 584, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-list li {
  list-style-type: none;
  margin-bottom: 1vh;
  background-color: #60CE5B;
  padding: 1vw; }

/* line 627, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-list li ul.children li.bypostauthor {
  background-color: #4CAF50;
  margin-left: 0.5vw; }

/* line 633, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-list li ul.children li.bypostauthor .odd {
  background-color: #60CE5B; }

/* line 638, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-list li ul.children li.bypostauthor .even {
  background-color: #4CAF50; }

/* line 663, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-respond .comment-form .logged-in-as a {
  color: #212121;
  text-decoration: none; }

/* line 669, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-reply-title a {
  text-decoration: none;
  color: #212121; }

/* line 675, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.comment-reply-title small {
  text-decoration: none;
  font-size: 2vh;
  text-decoration: underline;
  float: right; }

/* line 683, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
p.logged-in-as a {
  color: green; }

/* line 688, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
p.comment-form-comment {
  border-top: 1px solid #BDBDBD;
  margin-top: 1vh; }

/* line 694, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.form-submit #submit.submit {
  border-width: 0px;
  font-weight: bold;
  height: 3vh;
  width: 15%;
  background-color: #BDBDBD;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

/* line 707, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.form-submit #submit.submit:hover {
  background-color: #4CAF50; }

/* line 714, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.content-portfolio-container {
  width: 70vw;
  min-height: 100%;
  height: 100%;
  margin: 0 auto; }

/* line 723, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-card {
  width: 370px;
  height: 370px;
  margin: auto;
  margin-left: 2.5vw;
  margin-bottom: 2.5vw;
  float: left;
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2); }

/* line 735, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-square {
  height: 350px;
  width: 350px;
  position: relative;
  margin: auto;
  margin-top: 10px;
  overflow: hidden; }

/* line 745, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-image-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease-in-out; }

/* line 754, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-image-title {
  position: absolute;
  font-size: 2vh;
  z-index: 100; }

/* line 761, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-square-visible-image {
  display: block; }

/* line 766, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-square-visible-image img {
  max-width: 100%;
  height: auto; }

/* line 772, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-square-hidden-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 350px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

/* line 786, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-square-hidden-image a {
  font-size: 24px; }

/* line 791, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.blog-post-image-wrapper:hover > .blog-post-square-hidden-image {
  top: 0px; }

/* line 799, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.nav-container {
  width: 70vw;
  height: auto;
  margin: auto;
  margin-bottom: 1vh;
  margin-top: 1vh;
  color: #FFECB3;
  text-align: center; }

/* line 810, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.nav-container a {
  font-size: 2vh;
  border-radius: 25px;
  text-decoration: none;
  list-style-type: none;
  color: #212121;
  padding: 1vw; }

/* line 820, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.nav-container span {
  border-radius: 25px;
  text-decoration: none;
  list-style-type: none;
  padding: 1vw;
  font-size: 3vh;
  color: #212121;
  text-decoration: underline; }

/* line 833, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.footer-container {
  position: relative;
  width: 70vw;
  min-height: 10vh;
  margin: auto;
  clear: both;
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  overflow: auto; }

/* line 845, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.footer-container p {
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 2vh;
  padding: 1vh; }

/* line 854, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.footer-container li {
  float: left;
  width: auto;
  height: auto;
  margin: auto;
  padding: 1vh;
  list-style-type: none;
  margin-right: 1vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-left: 1vw;
  background-color: #BDBDBD;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

/* line 873, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.footer-container li:hover {
  background-color: #4CAF50; }

/* line 878, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
.footer-container li a {
  text-decoration: none;
  color: #212121;
  font-weight: bold; }

@media screen and (max-width: 1024px) {
  /* line 890, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .menu-desktop {
    display: none; }

  /* line 895, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .menu-desktop li {
    display: none; }

  /* line 900, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .mobile-menu {
    display: block; }

  /* line 905, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .mobile-menu-button {
    display: block; }

  /* line 910, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .content-container {
    width: 100vw;
    margin-left: 0; }

  /* line 916, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .content-desktop, .content-desktop-single {
    width: 95vw; }

  /* line 921, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .content-post-desktop h1 {
    font-size: 5vh; }

  /* line 926, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .content-post-desktop p {
    font-size: 3vh;
    line-height: 4vh; }

  /* line 932, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .content-post-desktop-imagecontainer {
    width: 100%;
    height: 33vh; }

  /* line 938, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .footer-container {
    width: 95vw;
    border-top: 0px solid #BDBDBD; }

  /* line 944, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .sidebar-container {
    display: none; }

  /* line 949, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .content-portfolio-container {
    width: 95vw; }

  /* line 954, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .blog-post-card {
    margin-left: 5vw; }

  /* line 959, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .blog-post-meta {
    width: 70%; }

  /* line 964, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .blog-comments {
    width: 30%; }

  /* line 969, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .footer-content li {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 2.5vw; }

  /* line 976, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .nav-container a {
    padding: 2.5vw; }

  /* line 981, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .container-comments {
    width: 95vw; }

  /* line 986, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .form-submit #submit.submit {
    width: auto; }

  /* line 991, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  textarea#comment {
    width: 96%; }

  /* line 996, Z:/Sites/Site - Monstersandsprites/scss/style.scss */
  .blog-post {
    width: 95%; } }
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
